/* Aninação na pagina  */
.hidden {
  opacity: 0;
  filter: blur(20px);
  transition: all 2s;
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  filter: blur(0px);
  transition: all 2s;
  transform: translateX(0);
}

/* aninaçao da orden dos projetos na pagina  */
.hidden:nth-child(2) {
  transition-delay: 0ms;
}
.hidden:nth-child(3) {
  transition-delay: 1500ms;
}
.hidden:nth-child(4) {
  transition-delay: 2500ms;
}
/*fim aninação na pagina  */
