/* Aninação na pagina  */
.js-animation {
  opacity: 0;
  filter: blur(20px);
  transition: all 2s;
  transform: translateX(-100%);
}
.js-animation.show {
  opacity: 1;
  filter: blur(0px);
  transition: all 2s;
  transform: translateX(0);
}

/* aninaçao da orden dos projetos na pagina  */
.js-animation:nth-child(2) {
  transition-delay: 0ms;
}
.js-animation:nth-child(3) {
  transition-delay: 1500ms;
}
.js-animation:nth-child(4) {
  transition-delay: 2500ms;
}
/*fim aninação na pagina  */
@media (max-width: 768px) {
  .js-animation:nth-child(2) {
    transition-delay: 0ms;
  }
  .js-animation:nth-child(3) {
    transition-delay: 150ms;
  }
  .js-animation:nth-child(4) {
    transition-delay: 300ms;
  }
}
